.board_btn_search{
    margin-bottom: 40px;
}
table{
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}
table thead{
    background: var(--primary_c);
    color: #fff;
    line-height: 30px;
}
table tbody tr th:first-child{
    width: 100px; 
}
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5),
table tbody tr td:last-child{
    width: 170px;
}